error_color = #ff7f50
success_color = #4ec4d3

.command-err-msg-box
  position: relative
  padding: 30px 10px 10px
  border: solid 2px error_color
  border-radius: 10px 10px 10px 10px

.command-err-msg-box .box-title
  position: absolute
  display: inline-block
  top: -2px
  left: -2px
  padding: 0 9px
  height: 25px
  line-height: 25px
  vertical-align: middle
  font-size: 17px
  background: error_color
  color: #ffffff
  font-weight: bold

.command-succeed-msg-box
  padding: 2em 1em
  margin: 0em
  color: #474747
  background: rgb(246, 253, 252)
  border-left: double 7px success_color
  border-right: double 7px success_color
